@import 'keyframes';
.banner{
  position: relative;
  
  animation:fromtop 1.2s  linear;

  & img {
    position:relative;
    
      @media (min-width:996px) {
        opacity: 0;
        animation: frombottom 1s  linear 0.2s 1 forwards, waving 6s linear 1.2s infinite ;
      }
    }
  }
  
#koukakiVideo {
    position: absolute;
    left:0;
    top: 0;
    object-fit: cover;
    @media (max-width:996px){
      display: none;
    }
  }
