.story h2::after {
    transform-origin: 77px 77px;
    animation:clockwise-flower 3s linear infinite reverse; 
  }
#studio h2::before {
    transform-origin: 101.5px 99.5px;
    animation: clockwise-flower 4s linear infinite;
}
#studio h2::after {
    transform-origin: 54.5px 54.5px;
    animation:clockwise-flower 2s linear infinite reverse; 
} 
.site-footer ul::after {
    animation:clockwise-flower 8s linear infinite reverse; 
}
.site-footer::before {
    transform-origin: 77px 77px;
    animation:clockwise-flower 2s linear infinite; 
}
.story__article::after,
.site-footer::after {
    animation: clockwise-flower 3s linear infinite; 
}
@keyframes clockwise-flower{
  0% {
      transform: rotate(0deg);
    }
  100% {
      transform: rotate(360deg);
    }
  }