@keyframes waving {
  0% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  15% {
    transform: translate(1%, 1%) rotate(-1deg);
  }
  25% {
    transform: translate(1%, 0%) rotate(1deg);
  }
  35% {
    transform: translate(2%, -2%) rotate(-1deg);
  }
  45% {
    transform: translate(0%, -2%) rotate(2deg);
  }
  60% {
    transform: translate(2%, -2%) rotate(-2deg);
  }
  70% {
    transform: translate(-2%, 0%) rotate(2deg);
  }
  80% {
    transform: translate(-2%, -2%) rotate(-1deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}
@keyframes fromtop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes frombottom {
  from {
    bottom: -400px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes clockwise-flower {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes title {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.story h2::after {
  transform-origin: 77px 77px;
  animation: clockwise-flower 3s linear infinite reverse;
}

#studio h2::before {
  transform-origin: 101.5px 99.5px;
  animation: clockwise-flower 4s linear infinite;
}

#studio h2::after {
  transform-origin: 54.5px 54.5px;
  animation: clockwise-flower 2s linear infinite reverse;
}

.site-footer ul::after {
  animation: clockwise-flower 8s linear infinite reverse;
}

.site-footer::before {
  transform-origin: 77px 77px;
  animation: clockwise-flower 2s linear infinite;
}

.story__article::after,
.site-footer::after {
  animation: clockwise-flower 3s linear infinite;
}

@keyframes waving {
  0% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  15% {
    transform: translate(1%, 1%) rotate(-1deg);
  }
  25% {
    transform: translate(1%, 0%) rotate(1deg);
  }
  35% {
    transform: translate(2%, -2%) rotate(-1deg);
  }
  45% {
    transform: translate(0%, -2%) rotate(2deg);
  }
  60% {
    transform: translate(2%, -2%) rotate(-2deg);
  }
  70% {
    transform: translate(-2%, 0%) rotate(2deg);
  }
  80% {
    transform: translate(-2%, -2%) rotate(-1deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}
@keyframes fromtop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes frombottom {
  from {
    bottom: -400px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes clockwise-flower {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes title {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.banner {
  position: relative;
  animation: fromtop 1.2s linear;
}
.banner img {
  position: relative;
}
@media (min-width: 996px) {
  .banner img {
    opacity: 0;
    animation: frombottom 1s linear 0.2s 1 forwards, waving 6s linear 1.2s infinite;
  }
}

#koukakiVideo {
  position: absolute;
  left: 0;
  top: 0;
}
@media (max-width: 996px) {
  #koukakiVideo {
    display: none;
  }
}

@keyframes waving {
  0% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  15% {
    transform: translate(1%, 1%) rotate(-1deg);
  }
  25% {
    transform: translate(1%, 0%) rotate(1deg);
  }
  35% {
    transform: translate(2%, -2%) rotate(-1deg);
  }
  45% {
    transform: translate(0%, -2%) rotate(2deg);
  }
  60% {
    transform: translate(2%, -2%) rotate(-2deg);
  }
  70% {
    transform: translate(-2%, 0%) rotate(2deg);
  }
  80% {
    transform: translate(-2%, -2%) rotate(-1deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}
@keyframes fromtop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes frombottom {
  from {
    bottom: -400px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes clockwise-flower {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes title {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* #studio h2,
#place h3, 
.story h2,
.main-character h3 {
    position: relative;
    animation: title 4s linear  forwards; 
    opacity: 0;
} */
.story h2::before {
  visibility: visible;
  /* border:1px solid red; */
  opacity: 1;
}

/* .story-title-background {
    position: absolute;
    width: 500px;
    top:0;
} */

/*# sourceMappingURL=theme.css.map */
